###########################################
# ไม่ให้ Git อัปโหลดทุกอย่างในโปรเจค
###########################################
*

###########################################
# อนุญาตให้ Git อัปโหลดเฉพาะโฟลเดอร์ www
###########################################
!www/
!www/**

###########################################
# อนุญาตให้ Git อัปโหลดไฟล์สำคัญ
###########################################
!.gitignore
!README.md

###########################################
# ไม่อัปโหลด docker compose
###########################################
docker-compose.yml
.docker-compose.yml

###########################################
# ไม่อัปโหลดโฟลเดอร์ php
###########################################
/php/
